In [1]:
import os
import csv

import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsRegressor

In [2]:
data_path = os.path.join(os.path.abspath(os.getcwd()), 'output')

In [3]:
data = pd.read_csv(os.path.join(data_path, '-0.4_1.1-0.4_0.3-N19683.csv'), names=['x', 'y', 'm', 'score'], delimiter=',', quotechar='|', quoting=csv.QUOTE_MINIMAL)

In [4]:
data

         x     y             m     score
0     -0.4  0.30  7.000000e+23  0.999130
1     -0.4  0.31  7.000000e+23  0.999582
2     -0.4  0.32  7.000000e+23  0.999943
3     -0.4  0.33  7.000000e+23  0.999933
4     -0.4  0.34  7.000000e+23  0.999848
...    ...   ...           ...       ...
19678  0.4  1.06  3.000000e+27  0.384333
19679  0.4  1.07  3.000000e+27  0.627229
19680  0.4  1.08  3.000000e+27  0.682754
19681  0.4  1.09  3.000000e+27  0.685182
19682  0.4  1.10  3.000000e+27  0.604901

[19683 rows x 4 columns]

In [5]:
data.describe()

                  x             y             m         score
count  1.968300e+04  19683.000000  1.968300e+04  19683.000000
mean   2.425874e-16      0.700000  1.016900e+27      0.840613
std    2.338150e-01      0.233815  1.402444e+27      0.254284
min   -4.000000e-01      0.300000  7.000000e+23      0.000000
25%   -2.000000e-01      0.500000  7.000000e+23      0.742567
50%    0.000000e+00      0.700000  5.000000e+25      0.990873
75%    2.000000e-01      0.900000  3.000000e+27      0.999683
max    4.000000e-01      1.100000  3.000000e+27      0.999986

In [6]:
neigh = KNeighborsRegressor(n_neighbors=2)

In [7]:
X = data[['x', 'y', 'm']]
y = data['score']

neigh.fit(X, y)

KNeighborsRegressor(n_neighbors=2)

In [8]:
pred_X = pd.DataFrame(columns=['x', 'y', 'm'])
pred_X['x'] = [-0.4, -0.395]
pred_X['y'] = [0.3, 0.305]
pred_X['m'] = [7e23, 7e25]
pred_X

       x      y             m
0 -0.400  0.300  7.000000e+23
1 -0.395  0.305  7.000000e+25

In [9]:
pred_score = pd.DataFrame(neigh.predict(pred_X), columns=['pred_score'])
pred_X.join(pred_score)

       x      y             m  pred_score
0 -0.400  0.300  7.000000e+23    0.999912
1 -0.395  0.305  7.000000e+25    0.997368